# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

**/.classpath
**/.project
**/.settings

Lab0_Q0

*.jar
*.class

# Lab*_Q*/bin
# Lab*_Q*/bin/*

submissions

!gradle-wrapper.jar
